/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FEFFED;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 100vh; /* Full height of the viewport */
  }
  
  .container {
    padding: 20px;
    width: 300px; /* Set the width of the container */
    max-width: 600px; /* Maximum width */
    background-color: #fff; /* Background for the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  form button a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
/* Center the text and link inside the form */
.center-text {
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}

  input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #3B2F2F; /* Green background for buttons */
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000; /* Darker green on hover */
  }
  
  /* Success message styling */
  .message-box {
    padding: 10px;
    margin: 10px 0;
    background-color: #4caf50; /* Success green */
    color: white;
    border-radius: 5px;
    text-align: center;
    display: none; /* Initially hidden */
  }
  
  .message-box.hidden {
    display: none;
  }
  
  .message-box.visible {
    display: block; /* Show when visible */
  }
  
  /* Styles for the sliding navigation menu */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
  }
  